@import url('https://fonts.googleapis.com/css?family-Poppins:100.200,300,400,500,600,700,800,900');

:root {
    --primary: hsl(252, 61%, 57%);
}

/* Reset */
*,*::before,
*::after
    {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* 
---------- 0. Title ---------- 
---------- 1. Cards  ---------- 
---------- 2. Buttons ---------- 
---------- 3. Spinners ---------- 
---------- 4. Text Fields ---------- 
---------- 5. Dropdowns ---------- 
*/

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Actor'; */
    font-weight: 500;
    padding: 1%;
    padding-top: 20px;
    min-height: 100vh;
    background-color: hsl(0, 2%, 10%) !important;
    /* background-color: hsl(0, 0%, 94%); */
    color: black;
    font-family: 'Actor';
    font-size: 18px;
}

/* ---------- 0. Title ----------*/
.page-title {
    /* color: var(--primary); */
    background: -webkit-linear-gradient(45deg, var(--primary), rgb(244, 165, 28));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

/* ---------- 1. Cards ----------*/
.card {
    width: clamp(180px, 35%, 150%);
    height: 100%;
    padding: 1%;
    background-color: hsl(0, 0%, 95%);
    /* background: hsl(0, 0%, 97%) !important; */
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px !important;
    z-index: 100;
}


/* ---------- 2. Buttons ----------*/

/* Blue Sliding button */
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: hsl(355, 100%, 64%);
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}

/* ---------- 3. Spinner ----------*/
.spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    position: absolute;
    top: 70px;
    width: 470px;
    height: 470px;
    animation: spin 1.7s linear infinite;
    text-align: center;
    border-radius: 500px;
    filter: blur(1px);
    z-index: -1;
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 470px;
    height: 470px;
    border-radius: 5000px;
    filter: blur(10px);
    z-index: -1;
}

.wave-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,.7);
    border: cyan 2px;
    z-index: -1;
    opacity: 0;
}
.show-spinner {
    opacity: 1;
    z-index: 101;
}
.wave {
    width: 5px;
    height: 100px;
    /* background: linear-gradient(45deg, cyan, #fff); */    
    background: linear-gradient(45deg, hsl(263, 66%, 58%), cyan, hsl(355, 100%, 64%));
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

.show {
    display: block !important;
}

/* ---------- 4.Text fields ----------*/
.form__group {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 400px !important;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid hsl(0, 0%, 80%);
    outline: 0;
    font-size: 17px;
    color: hsl(0, 0%, 20%);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    caret-color: var(--primary);
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: hsl(0, 0%, 60%);
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    /* border-image: linear-gradient(to right, #116399, #38caef); */
    border-image: linear-gradient(to right, hsl(263, 66%, 58%), hsl(355, 100%, 64%));
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    background: linear-gradient(to right, hsl(263, 66%, 58%), hsl(355, 100%, 64%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

/* ---------- 5. Dropdowns ----------*/
.dropdown {
    position: relative;
    margin: 5px;
    height: 50px;
    width: 100%;
    max-width: 360px !important;
}

.dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 100;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 2px;
    border-left: 3px solid hsl(0, 0%, 20%);
    border-bottom: 3px solid hsl(0, 0%, 20%);
    transform: rotate(-45deg);
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.dropdown.open:before {
    transform: rotate(-225deg);
    top: 22px;
}

.dropdown input {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(-50px);
    opacity: 0;
    transition: all .25s ease-in-out;
    pointer-events: none;
}

.dropdown.open .option {
    z-index: 1000;
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

.option-items {
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.option-items:hover {
    background-color: hsl(0, 0%, 90%);
}

.option-items ion-icon {
    position: relative;
    /* font-size: 1.2em; */
    top: 3px;
    left: 0px;
    margin-right: 10px;
    width: 30px;
}

.small-icon {
    font-size: 14px;
}

.medium-icon {
    font-size: 20px;
}

.large-icon {
    font-size: 25px;
}

/* ---------- 6. Other Elements ----------*/
.display-none {
    display: none;
}
#image-viewer {
    width: fit-content;
    height: 100%;
}

/* Animaze 1.0 */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


/* Media Queries */
@media only screen and (max-width: 1190px) {
    .card {
        width: clamp(270px, 50%, 150%);
    }

    .dropdown {
        width: clamp(270px, 90%, 150%);
    }
}

@media only screen and (max-width: 600px) {

    .card {
        width: 90%;
    }

    .dropdown {
        width: clamp(100px, 90%, 150%);
    }
}